@font-face {
    font-family: 'Sucrose';
    src: url('fonts/Sucrose-Bold.eot');
    src: url('fonts/Sucrose-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Sucrose-Bold.woff2') format('woff2'),
    url('fonts/Sucrose-Bold.woff') format('woff'),
    url('fonts/Sucrose-Bold.ttf') format('truetype'),
    url('fonts/Sucrose-Bold.svg#Sucrose-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sucrose Bold Two';
    src: url('fonts/Sucrose-BoldTwo.eot');
    src: url('fonts/Sucrose-BoldTwo.eot?#iefix') format('embedded-opentype'),
    url('fonts/Sucrose-BoldTwo.woff2') format('woff2'),
    url('fonts/Sucrose-BoldTwo.woff') format('woff'),
    url('fonts/Sucrose-BoldTwo.ttf') format('truetype'),
    url('fonts/Sucrose-BoldTwo.svg#Sucrose-BoldTwo') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sucrose Bold Three';
    src: url('fonts/Sucrose-BoldThree.eot');
    src: url('fonts/Sucrose-BoldThree.eot?#iefix') format('embedded-opentype'),
    url('fonts/Sucrose-BoldThree.woff2') format('woff2'),
    url('fonts/Sucrose-BoldThree.woff') format('woff'),
    url('fonts/Sucrose-BoldThree.ttf') format('truetype'),
    url('fonts/Sucrose-BoldThree.svg#Sucrose-BoldThree') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Semibold.eot');
    src: url('fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Semibold.woff2') format('woff2'),
    url('fonts/MyriadPro-Semibold.woff') format('woff'),
    url('fonts/MyriadPro-Semibold.ttf') format('truetype'),
    url('fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Light.eot');
    src: url('fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Light.woff2') format('woff2'),
    url('fonts/MyriadPro-Light.woff') format('woff'),
    url('fonts/MyriadPro-Light.ttf') format('truetype'),
    url('fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'Sucrose', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #5BC2D7;
    padding: 67px 0;
}

nav {
    margin-top: 67px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 14px 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: #fff;
    font-size: 20px;
    padding: 5px 15px;
    transition: all .5s ease;
}

.nav-menu li a:hover {
    background-color: #fff;
    border-radius: 30px;
    color: #5BC2D7;
}


/* Hero */
.hero {
    padding-top: 50px;
    background-color: #5BC2D7;
}

.hero img {
    width: 100%;
    object-fit: contain;
}

.hero-mobile, .hero-logo-mobile {
    display: none;
}


/* First section */
.first-section {
    padding: 90px 0 120px;
}

.section-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    font-family: 'Sucrose Bold Two';
    text-decoration: underline;
    margin-bottom: 30px;
}

.first-section-item svg {
    width: 100%;
}

.first-section-item-img {
    width: 72px;
    height: 72px;
    flex: 72px;
}

.first-section-item p {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    max-width: calc(100% - 92px);
    width: 100%;
    margin-bottom: 0;
    margin-left: 20px;
}

.first-section-item p.text-right {
    text-align: right;
    margin-right: 20px;
    margin-left: 0;
}

.first-section-item p.text-left {
    margin-left: 20px;
}

.row.display-flex {
    align-items: center;
}

.first-section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

/* yellow-section */
.yellow-section {
    background-color: #FBDA5A;
    padding: 90px 15px 70px;
}

.yellow-title {
    font-weight: 900;
    font-size: 90px;
    line-height: 124px;
    font-family: 'Sucrose Bold Two';
}

.yellow-title.yellow-title-blue {
    color: #5BC2D7;
}

/* blue-section */
.blue-section {
    padding: 90px 0;
    background-color: #5BC2D7;
}

.blue-section-bgwhite {
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 50px;
    display: inline-block;
    margin: 44px auto 20px;
    font-family: 'Sucrose Bold Two';
}

.blue-section-white {
    color: #fff;
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    font-family: 'Sucrose Bold Three';
}

.blue-section-white span {
    text-decoration: underline;
}

/* faqs */
.faqs {
    padding: 90px 15px;
}

#accordionFlushYellow button.accordion-button:after {
    background-image: url(image/arrow.svg);
    width: 17px;
    height: 15px;
    background-size: contain;
}

#accordionFlushYellow button.accordion-button:focus {
    border-color: #5BC2D7;
    box-shadow: 0 0 0 0.25rem #5BC2D7;
}

#accordionFlushYellow button.accordion-button {
    background-color: #FBDA5A;
    border-radius: 100px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    padding-left: 45px;
    padding-right: 62px;
}

#accordionFlushYellow {
    margin-top: 60px;
}

#accordionFlushYellow .accordion-item {
    border: none;
    margin-bottom: 30px;
}

.btn-white {
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    font-family: 'Sucrose Bold Two';
    padding: 20px 30px;
    border: 3px solid #fff;
    transition: all .5s ease;
}

.btn-white:hover {
    background-color: #000;
    color: #fff;
}


footer {
    background-color: #000;
    padding: 90px 0;
}

.footer-logo {
    width: 156px;
    object-fit: contain;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-three {
    display: flex;
    justify-content: center;
}

.footer-three-item {
    margin: 0 40px;
    color: #fff;
}

.footer-three-item h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
}

.footer-three-item h5,
.footer-three-item a,
.footer-three-item p {
    font-family: 'Myriad Pro';
}

.footer-three-item p {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.footer-three-item a {
    color: #fff;
    display: block;
    transition: all .5s ease;
}

.footer-three-item a:hover {
    color: #FBDA5A;
}


.mobile-link {
    display: none;
}


@media only screen and (min-width: 992px) {
    #main-menu-links.collapse {
        display: block;
    }

    .nav-menu {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1300px) {
    .first-section .display-flex .first-section-img {
        width: 100%;
    }

    .yellow-title {
        font-size: 70px;
        line-height: 100px;
    }

    .btn-white {
        font-size: 19px;
        line-height: 26px;
        padding: 12px 15px;
    }
}


@media only screen and (max-width: 991.99px) {
    .yellow-section .display-flex .text-c {
        text-align: center;
        margin: 30px 0;
    }

    .yellow-title {
        line-height: 50px;
    }

    .yellow-section .display-flex img {
        margin: 0 auto;
        width: 100%;
    }

    .yellow-section-wrap-img {
        text-align: center;
    }


    .footer-wrapper {
        margin-bottom: 30px;
        justify-content: center;
    }

    .footer-wrapper .footer-logo {
        margin-right: 30px;
    }

    .footer-wrapper .btn-white {
        margin-left: 30px;
    }

    .first-section-item p {
        font-size: 20px;
    }

    .first-section .display-flex {
        flex-wrap: wrap;
    }

    .first-section .first-section-left {
        order: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .first-section .first-section-right {
        order: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .first-section .first-section-center {
        order: 3;
    }


    .first-section-item p.text-right,
    .first-section-right p {
        order: 2;
        width: 100%;
        max-width: 100%;
        margin: 20px 0 0 0;
        text-align: center;
        font-size: 28px;
    }

    .first-section-item .first-section-item-img {
        order: 1;
    }

    .first-section-item {
        display: flex;
        flex-direction: column;
    }


    .navbar-toggler {
        position: relative;
        display: inline-block;
        padding: 0 5px 0 40px;
        margin-left: 0px;
        height: 30px;
        background-color: transparent;
        vertical-align: top;
        cursor: pointer;
        outline: none;
    }

    .navbar-toggler:after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #5BC2D7;
        top: 50%;
        left: 5px;
        margin-top: -8px;
        box-shadow: 0 8px 0 #5BC2D7, 0 16px 0 #5BC2D7;
    }

    .navbar-toggler span {
        display: block;
        font-size: 16px;
    }

    .mobile-link {
        display: inline-block;
        background-color: #5BC2D7;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        padding: 5px 15px;
        border-radius: 100px;
        border: 2px solid #5BC2D7;
        transition: all .5s ease;
    }

    .mobile-link:hover {
        background-color: #fff;
        color: #5BC2D7;
    }

    header {
        background-color: #fff;
        padding: 46px 0 10px;
    }

    header .first-row {
        align-items: center;
    }

    .mobile-align-r {
        text-align: right;
    }

    .hero-mobile-wrapper .navbar-header {
        margin-right: 20px;
    }

    .hero-mobile-wrapper {
        display: flex;
        align-items: center;
    }

    .hero-logo-mobile {
        display: block;
    }

    .hero-logo-desktop {
        display: none;
    }

    .nav-menu {
        text-align: center;
    }

    .nav-menu li a {
        color: #5BC2D7;
    }
}

@media only screen and (max-width: 766.99px) {
    .hero-mobile {
        display: block;
    }

    .hero-desktop {
        display: none;
    }

    .hero {
        padding-top: 0;
    }
}

@media only screen and (max-width: 641.99px) {
    .footer-three {
        flex-direction: column;
        justify-content: center;
    }

    .footer-three-item {
        margin-bottom: 30px;
    }

    .yellow-section {
        padding: 90px 0 10px;
    }

    .yellow-section .container {
        max-width: 100%;
        padding: 0;
    }
    .yellow-section .container .row>* {
        padding: 0;
    }
    .currDispatch {
        padding: 0 15px;
    }
    .blue-section-bgwhite {
        margin: 0 auto 20px;
    }

    .footer-wrapper {
        flex-direction: column;
    }
    .footer-wrapper .footer-logo {
        margin: 0 0 20px;
        width: 229px;
    }
    .footer-wrapper .btn-white {
        margin: 30px 0 0 0;
        font-size: 28px;
        line-height: 38px;
        padding: 20px 30px;
    }
    .footer-three-item {
        text-align: center;
    }
    .footer-three-item h5 {
        font-size: 24px;
        line-height: 29px;
    }
    .footer-three-item p {
        font-size: 24px;
        line-height: 29px;
    }
}